*
!.github/
!.github/**
!src/
!src/**
!tests/
!tests/**
!scripts/
!scripts/**
!changelog/
!changelog/**

!.gitignore
!.gitattributes
!.npmrc
!biome.json
!vitest.config.mts
!.editorconfig
!.tsconfig.json
!.tsconfig.build.json
!package.json
!Makefile
!README.md
!CHANGELOG.md
!SECURITY.md
!LICENSE
!yarn.lock
